
body {
    margin: 0px;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    border: none;
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    padding: 15px 0px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .logo {
    width: 200px;
    height: 38px;
    align-self: center;
}

.header img {
    width: 100%;
}
.header .header_words {
    margin: 0px;
    align-self: center;
    font-size: 20px;
}


.log_reg_menu {
    padding-left: 65px;
    align-self: center;
    width: 200px;
    text-align: right;
}
.log_reg_menu a:first-child{
    margin-bottom: 5px;
}

.log_reg_menu .logout {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.log_reg_menu .logout button {
   background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}


.main {
    background-image: url("/resources/img/start_page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 135px;
    padding-bottom: 50px;
}
.reg_main {
    display: flex;
}
.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.find_container {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 590px;
}


.main .container > div {
    align-self: center;
}

.find_container form:nth-child(1) .select{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.find_container form:nth-child(2) .select{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.find_container button {
    border: none;
    background-color: rgba(25, 24, 24, 0.09);
    padding: 9px 20px;
    height: 36px;
    border-left: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.find_container button:hover {
    background-color: rgba(25, 24, 24, 0.3);
}

.select,
.date {

    outline: none;
    display: block;
    border: none;
}
.select {
    padding: 10px 15px;
    width: 205px;
}
.date {
    padding: 8px 15px;
    width: 160px;
}







.modal_form {
    padding: 30px;
    background-color: rgba(25, 24, 24, 0.5);
    border-radius: 5px;
    color: white;
}

.modal_form form {
    margin: 0px;
}

.modal_form h1 {
    margin: 0px auto 20px;
    text-align: center;
}

.modal_form .wrapper_input {
    position: relative;
    padding-bottom: 20px;
    width: 230px;
}

.modal_form .wrapper_input input,
.modal_form .wrapper_input select{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: white;
}

.modal_form .wrapper_input label {
    width: 150px;
    display: block;
    margin-bottom: 5px;
}


.modal_form .wrapper_input .error {
    position: absolute;
    bottom: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}


.modal_form button {
    display: table;
    margin: 10px auto 0px;
    border-radius: 3px;
    border: 0px;
    padding: 8px 15px;
    color: white;
    background-color:  #008eff; /*   rgba(0, 142, 255, 0.51);*/

    cursor: pointer;
}

.modal_form button.acrive {
    background-color: #008eff;
    cursor: pointer;
}

.not_found {
    display: table;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #00b8ff;
    color: white;
    font-size: 26px;
}


.main_menu {
    width: 100%;
}
.main_menu .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0px;
    padding: 0px;

}
.main_menu  .menu li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(25, 24, 24, 0.09);
    transition: all 0.3s ease-in-out;
}
.main_menu  .menu li a:hover {
    background-color: rgba(25, 24, 24, 0.3);
}



.header_table,
.find_content table {
    border-collapse: collapse;
}
.header_table th,
.find_content td {
    width: 120px;
    padding: 5px 10px;
}
.header_table .th_route,
.find_content .td_route {
    width: 300px;
}

.header_table th {
    background-color: rgba(43, 158, 247, 0.45);
}
.header_table .th_hidden {
    width: auto;
    background-color: transparent;
}

.header_table th:first-child {
    border-top-left-radius: 3px;
}
.header_table th:nth-child(5) {
    border-top-right-radius: 3px;
}

.find_content {
    max-height: 305px;
    overflow: hidden;
    overflow-y: auto;
}
.find_content td {
    border: 1px solid black;
    text-align: center;
    background-color: white;
}
.find_content tr .btn {
    width: auto;
    background-color: transparent;
    border-color: transparent;
}
.find_content tr .btn_edit {
    padding-right: 0px;
}
.find_content tr .btn a {
    padding: 5px 15px;
    background-color: rgba(0, 142, 255, 0.7);
    border-radius: 3px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.find_content tr .btn a:hover {
    background-color: #008eff;
}
.find_content tr .btn_delete a {
    background-color: rgba(255, 0, 0, 0.7);
}
.find_content tr .btn_delete a:hover {
    background-color: #ff0000;
}

.find_content tr .btn_buy a{
    background-color: rgba(0, 142, 255, 0.7);
}
.find_content tr .btn_buy a:hover {
    background-color: #008eff;
}

.admin_panel {
    display: flex;
    margin-top: 40px;
}

.admin_panel button {
    border: none;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.admin_panel a {
    margin-right: 20px;
}
.admin_panel button:last-child,
.admin_panel a:last-child {
    margin-right: 0px;
}

.admin_panel button:hover {
    background-color: white;
}


.form_add_train {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 485px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
}
.form_add_train .select_route {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.form_add_train .select_route,
.form_add_train .select_route .select {
    width: 100%;
}

.form_add_train .select_route .select {
    margin-bottom: 20px;
}

.form_add_train .wrapper_input {
    position: relative;
    width: 205px;
}
.form_add_train .wrapper_input input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: white;
}

.form_add_train .wrapper_input label {
    width: 150px;
    display: block;
    margin-bottom: 5px;
    color: white;
}





.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    color: red;
}
