body {
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    border: none;
    display: block;
}

.wrap {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

.wrapper-flex {
    display: flex;
}

.btn {
    display: table;
    padding: 5px 15px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.btn_blue {
    background-color: #00b8ff;
}

.btn_red {
    background-color: red;
}

.btn_yellow {
    background-color: yellow;
}

.btn_green{
    background-color: green;
}

.btn_margin_top {
    margin-top: 20px !important;
}


.header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px 15px;
    background-color: #f0ededf0;
}
.header .wrapper-flex {
    justify-content: space-between;
}
.header .logo {
    width: 200px;
    align-self: center;
}
.header img {
    width: 100%;
}
.header p{
    margin: 0px;
    font-size: 16px;
    text-align: center;
}
.header > div {
    align-self: center;
}

.reg_menu {
    align-self: center;
    width: 200px;
    text-align: right;
    font-size: 14px;
}
.reg_menu a:first-child{
    margin-bottom: 5px;
}

.reg_menu .logout {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.reg_menu .logout button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

/*.reg_menu .logout {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.reg_menu .logout button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}*/

.header_menu {
    display: flex;
    justify-content: center;
    align-self: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header_menu li a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(25, 24, 24, 0.09);
    transition: all 0.3s ease-in-out;
}
.header_menu li a.active,
.header_menu li a:hover {
    background-color: rgba(25, 24, 24, 0.3);
}


.section {
    display: flex;
}
.main {

    background-image: url("/resources/img/start_page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 66px 0px 50px;
    box-sizing: border-box;
}
.wrapper_center {
    display: table;
    margin: 0px auto;
}
.main .wrap {
    align-self: center;
}

.main .finding_menu {
    display: table;
    margin: 0px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 5px;
}

.main .finding_menu .form {
    display: flex;
}

.finding_menu h1 {
    color: white;
    margin: 0px auto 30px;
    text-align: center;
}

.wrapper_dropdown,
.wrapper_input {
    position: relative;
    display: table;
    width: 220px;
}
.wrapper_dropdown small,
.wrapper_input small {
    position: relative;
    float: left;
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: white;
}
.wrapper_dropdown_in,
.wrapper_input_in {
   /* position: relative;*/
    width: 100%;
    margin-bottom: 20px;
}
.wrapper_dropdown_in  .js-dropdown_value {
    display: none;
}
.dropdown_value
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 35px;
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    background-color: #fbfbfb;
    color: #333;
    font-size: 14px;
}

.finding_menu .wrapper_dropdown .dropdown_value {
    border-right: 1px solid black;
    border-radius: inherit;
}
.finding_menu .wrapper_dropdown:first-child .dropdown_value {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.dropdown_value:hover,
.dropdown_value:focus
{
    outline: none;
}

.dropdown_value:after
{
    width: 11px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 10px;
    background-image: url(../img/arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px auto;
}
.wrapper_dropdown_in.open .dropdown_value
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.wrapper_dropdown_in.open .dropdown_value:after
{
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.wrapper_dropdown_in  ul
{
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: -1px 0 0;
    position: absolute;
    background-color: #fbfbfb;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.wrapper_dropdown_in.open ul
{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.wrapper_dropdown_in li
{
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
}
.wrapper_dropdown_in li:hover
{
    background-color: #d2d2d2;
}
.wrapper_input input {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    border: none;
    background-color: white;
    border-radius: 3px;
}

.wrapper_input .error,
.wrapper_dropdown .error {
    position: absolute;
    bottom: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.finding_menu input {
    border-right: 1px solid black;
    border-radius: inherit;
}
.finding_menu .wrapper_input:last-child input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.finding_menu .error .message {
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    left: 0px;
    width: 100%;
    padding: 3px 5px;
    text-align: center;
    color: red;
  /*  background-color: rgba(255, 255, 255, 0.74);*/
}


.finding_menu .btn {
    margin: 0px auto;
}

.left_menu,
.content {
    margin-top: 40px;
}



.left_menu {
    width: 220px;
}
.left_menu .line {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 20px;
}

.left_menu .not_active {
    opacity: 0.5;
}

.left_menu > div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.left_menu .btn {
    margin: 0px auto 0px;
}

.left_menu.type_black .btn {
    width: 100%;
    text-align: center;
    margin: 0px auto 20px;
}

.left_menu.type_black .btn:last-child {
    margin-bottom: 0px;
}

.type_black > div {
    background-color: rgba(0, 0, 0, 0.46);
}
.type_black .title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.type_black .wrapper_dropdown,
.type_black .wrapper_input,
.type_black .wrapper_input input {
    width: 160px;
}

.wrapper_radio {
    overflow: hidden;
    margin-bottom: 20px;
}

.item_radio {
    position: relative;
    padding: 0px 0px 0px 20px;
    text-align: left;
}

.item_radio label {
    cursor: pointer;
}

.item_radio label:before,
.item_radio label:after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.item_radio label:before {
    left: 0;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    background: #f7f7f7;
    box-shadow: 0 0 1px grey;
}
.item_radio label:after {
    left: 4px;
    width: 7px;
    height: 7px;
    margin-top: 5px;
    background: #37b2b2;
    transform: translate3d(-20px, 0, 0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.item_radio input[type="radio"],
.item_checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
}

.item_radio input[type="radio"],
.item_checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
}

.item_radio input[type="radio"]:checked + label:after,
.item_checkbox input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}


.content_type-one {
    width: 880px;
}

.content_type-train {
    width: 700px;
}

.not_found {
    display: flex;
    width: 100%;
    padding: 57px 0px;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.46);
    border-radius: 5px;
}

/* dscscdscdscds */
.items {
    width: 100%;
    min-height: 100px;
    max-height: 420px;
    overflow: hidden;
    overflow-y: auto;
}

.items .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #f0f4f8;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
.items .item .item_select {
    align-self: center;
}
.items .item .item_select input {
    margin: 0px;
}

.items .item .wrapper_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 14px;
    text-align: center;
}
.item .wrapper_item > div:nth-child(2) {
    margin-top: 10px;
}

.items .item .train {
    align-self: center;
}

.items .item .train img {
    width: 30px;
    margin: 0px auto 5px;
}
.item .wrapper_item .wrapper_rout {
    display: flex;
    justify-content: space-between;
}
.item .wrapper_item .wrapper_rout > div:last-child {
    margin-right: 0px;
}

.items .item .route,
.items .item .date {
    position: relative;
    align-self: center;
}
.items .item .label,
.items .number_tickets .label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}
.items .item .route .departStation_1,
.items .item .route .arrivalStation_1,
.items .item .route .departStation_2,
.items .item .route .arrivalStation_2 {
    padding: 5px 10px;
    background-color: #c1c1c1;
    border-radius: 6px;
}

.items .item .arrow_right {
    align-self: center;
    width: 17px;
    height: 17px;
    padding: 0px 20px;
    background-image: url(/resources/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px auto;
}

.items .item .date > div:last-child {
    padding: 5px 10px;
    background-color: #c1c1c1;
    border-radius: 6px;
    text-align: center;
}

.items .item .number_tickets,
.items .item .btn_details {
    position: relative;
    align-self: center;
}

.items .item .number_tickets > div:last-child {
    padding: 5px 10px;
    background-color: #c1c1c1;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

.items .item .date_arrival {
    margin-right: 10px;
}

/* /railroad/schedule/add */

#add_train_to_schedule,
#change_train_schedule,
#btn_train_number_delete,
#btn_edit_role,
#btn_remove,
#b_button,
#upcoming,
#completed,
#btn_train_date_select,
#return_ticket,
#buy_ticket {
    background-color: rgba(0, 142, 255, 0.51);
}
#add_train_to_schedule.active,
#change_train_schedule.active,
#btn_train_number_delete.active,
#btn_edit_role.active,
#btn_remove.active,
#b_button.active,
#upcoming.active,
#completed.active,
#btn_train_date_select.active,
#return_ticket.active,
#buy_ticket.active {
    background-color: #00b8ff;
}
.content_type-schedule {
    width: 650px;
    text-align: center;
}
.content_type-schedule .station {
    width: 200px;
}
.content_type-schedule .wrapper_date {
    position: relative;
    align-self: center;
}
.content_type-schedule input {
    border: none;
    padding: 5px 10px;
    text-align: center;
}

.content_type-schedule .wrapper_date .error {
    position: absolute;
    bottom: -27px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: red;
    background-color: rgba(0, 0, 0, 0.46);
}

/* add train page */

.items .item_route {
    display: flex;
    width: 100%;
    margin-left: 20px;
    overflow: hidden;
    overflow-x: auto;
}

.items .item_route > div:nth-child(odd) {
    padding: 5px 10px;
    background-color: #c1c1c1;
    border-radius: 6px;
    align-self: center;
}

.wrapper_modal .wrapper_add_train {
    display: flex;
}
.wrapper_modal .wrapper_add_train > div:first-child {
    padding: 0px;
    width: 230px;
}
.wrapper_modal .wrapper_add_train > div:first-child .caption {
    padding: 15px;
    background-color: #00b8ff;
    color: white;
    text-align: center;
}
.wrapper_modal .wrapper_add_train > div:first-child .wrapper_route {
    flex-direction: column;
    max-height: 120px;
    background-color: #ededed;
    overflow: hidden;
    overflow-y: auto;
}
.wrapper_modal .wrapper_add_train > div:first-child .route {
    padding: 5px 10px 5px;
}

.wrapper_modal .wrapper_add_train > div:last-child {
    width: auto !important;
}
.wrapper_modal .wrapper_add_train > div:last-child small {
    color: black;
}

.wrapper_modal .wrapper_add_train > div:last-child .input {
    border: 1px solid black;
}
.wrapper_modal .wrapper_add_train > div:last-child .btn {
    margin: 0px auto;
    border: none;
    background-color: rgba(0, 142, 255, 0.51);
}
.wrapper_modal .wrapper_add_train > div:last-child .btn.active {
    background-color: #00b8ff;
}

    /* user page */
.wrapper_btn {
    align-self: center;
}

.content_type-two {
    width: 800px;
    margin: 0px auto;
}


.content_type-two h1 {
    display: table;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.46);
    color: white;
}



/* /railroad/admin/users  */
.content_type-users {
    width: 450px;
    text-align: center;
}

.content_type-users .items {
    max-height: 345px;
}
.content_type-users .item {
    position: relative;
}

.users_caption {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.46);
    color: white;
}

.users_caption > div {
    width: 170px;
    padding: 0px 10px;
    align-self: end;
}

.content_type-users .wrapper_user {
    display: flex;
    flex-direction: row;
}

.content_type-users .login,
.content_type-users .role {
    width: 170px;
    padding: 5px 10px;
    text-align: center;
}
.content_type-users .role {
    background-color: #c1c1c1;
    border-radius: 6px;
}
.content_type-users .wrapper_dropdown_user {
    display: flex;
    position: absolute;
    top: 6px;
    right: 6px;

}
.wrapper_dropdown_user .wrapper_dropdown {
    width: 160px;
}

.wrap_btn {
    display: flex;
    justify-content: center;
    align-self: end;
    height: 35px;
    background-color: white;
}

.wrap_btn .btn {
    align-self: center;
}



/* /railroad/passenger/add */
.type_buy_ticket .left_menu {
    width: 280px;
}

.type_buy_ticket  .wrapper_dropdown,
.type_buy_ticket  .wrapper_input,
.type_buy_ticket  .wrapper_input input {
    width: 220px;
}


/* /railroad/ticket/buy */
.success h1 {
    text-align: center;
    margin: 0px auto 10px;
}

.success > div {
    display: table;
    padding: 10px;
    background-color: #f0f4f8;
    margin-bottom: 10px;
    border-radius: 6px;
}
.success > div span:last-child,
.passenger_info > div span:last-child {
    border-radius: 6px;
    background-color: #c1c1c1;
    padding: 5px 10px;
}

/* /railroad/ticket/info */
.h1 {
    margin: 0px auto 20px;
    text-align: center;
}
.passenger_info {
    display: table;
    padding: 10px;
    background-color: #f0f4f8;
    margin-bottom: 10px;
    border-radius: 6px;
}

.passenger_info > div {
    float: left;
}
.passenger_info > div:first-child {
    margin-right: 20px;
}



/* /railroad/user/passenger/all */
.content_type-passenger {
    width: 450px;
}
.content_type-passenger .items {
    max-height: 355px;
}
.items .item .wrap_passenger {
    position: relative;
    display: flex;
    align-self: center;
    font-size: 14px;
    text-align: center;
}
.items .item .wrap_passenger .info {
    align-self: center;
    margin-right: 20px;
}
.items .item .wrap_passenger .info:last-child {
    margin-right: 0px;
}

.items .item .wrap_passenger .info > div:last-child {
    padding: 5px 10px;
    background-color: #c1c1c1;
    border-radius: 6px;
    text-align: center;
}


/* /railroad/train/passengers */
.content_type-passenger-m {
    width: 350px;
}
.content_type-passenger-m .items {
    max-height: 355px;
}

.content_type-passenger-m .items .item {
    display: table;
    margin: 0px auto 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 15px;
    text-align: center;
    background-color: #f0ededf0;
}

.footer a {
    display: flex;
    justify-content: center;
}
.footer img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.footer p {
    margin: 0px;
    align-self: center;
}


.wrap_modal_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.modal_form {
    display: table;
    align-self: center;
    padding: 30px;
    background-color: rgba(25, 24, 24, 0.5);
    border-radius: 5px;
    color: white;
}


.back_error > span {
    display: block;
    width: 100%;
    margin: 0px auto 10px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: red;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 3px;
}

.modal_form form {
    margin: 0px;
}

.modal_form h1 {
    margin: 0px auto 20px;
    text-align: center;
}


/*.modal_form .wrapper_input label {
    width: 150px;
    display: block;
    margin-bottom: 5px;
}*/

/*.modal_form .wrapper_input .error {
    position: absolute;
    bottom: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}*/

.modal_form button {
    display: table;
    margin: 0px auto;
    border-radius: 3px;
    border: 0px;
    padding: 8px 15px;
    color: white;
    background-color:  rgba(0, 142, 255, 0.51);
}

.modal_form button.active {
    background-color: #008eff;
    cursor: pointer;
}

.wrapper_modal {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.46);
}
.wrapper_modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}
.wrapper_modal .close:after {
    position: absolute;
    top: 14px;
    right: 15px;
    width: 18px;
    height: 22px;
    content: '×';
    color: black;
    font-size: 30px;
    line-height: 0.8;
}
.wrapper_modal .modal_content {
    align-self: center;
    background-color: rgba(0, 0, 0, 0.46);
    padding: 30px;
}
.modal_content > div {
    display: flex;
}
.modal_content > div:nth-child(1) > div:nth-child(1),
.modal_content > div:nth-child(2) > div:nth-child(1){
    width: 200px;
    padding: 15px;
    border-bottom: 1px solid black;
    background-color: white;
}
.modal_content > div:nth-child(1) > div:nth-child(2),
.modal_content > div:nth-child(2) > div:nth-child(2){
    width: 100px;
    text-align: center;
    background-color: #ededed;
    padding: 15px;
    border-bottom: 1px solid black;
}
.modal_content > div:nth-child(3) {
    padding: 15px;
    justify-content: center;
    background-color: #00b8ff;
    color:white;
}
.modal_content > div:nth-child(4) {
    flex-direction: column;
    max-height: 120px;
    background-color: #ededed;
    overflow: hidden;
    overflow-y: auto;
}
.modal_content .station {
    text-align: center;
    padding: 10px 0px;
    width: 100%;
}
.modal_content .station:nth-child(even){
    background-color: white;
}
