
body {
    margin: 0px;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    border: none;
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    padding: 15px 0px;
}
.header .container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 200px;
    height: 38px;
    align-self: center;
}

.header img {
    width: 100%;
}
.header .header_words {
    margin: 0px;
    align-self: center;
    font-size: 20px;
}


.log_reg_menu {
    padding-left: 65px;
}
.log_reg_menu a:first-child{
    margin-bottom: 5px;

}

.main {
    background-image: url("/resources/img/start_page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
}
.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.find_container {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 590px;
}

.main .container > div {
    align-self: center;
}


.select,
.date {
    border-radius: 3px;
    outline: none;
    display: block;
}
.select {
    padding: 10px 15px;
    width: 205px;
}
.date {
    padding: 7px 15px;
    width: 160px;
}


.header_table th,
.find_content td{
    width: 120px;
    padding: 5px 10px;
}

.find_content {
    max-height: 305px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}
.header_table,
.find_content table {
    border-collapse: collapse;
}
.find_content td {
    border: 1px solid black;
    text-align: center;
}

.find_content .buy_button {
    padding: 5px;
    background: blue;
    border-radius: 3px;
    color: black;
}



.reg_main {
    display: flex;
}

.reg_form {
    padding: 30px;
    background-color: white;
}

.reg_form h1 {
    margin: 0px auto 20px;
    text-align: center;
}
.wrapper_input {
    position: relative;
    padding-bottom: 20px;
    width: 225px;
}
.wrapper_input input {
    width: 100%;
    outline: none;
}

.wrapper_input label {
    width: 150px;
    display: block;
    margin-bottom: 5px;
}

.wrapper_input .error {
    position: absolute;
    bottom: 4px;
    font-size: 12px;
    color: red;
}




.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    color: red;
}
